@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?bfdl56');
  src:  url('../fonts/icomoon.eot?bfdl56#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?bfdl56') format('truetype'),
    url('../fonts/icomoon.woff?bfdl56') format('woff'),
    url('../fonts/icomoon.svg?bfdl56#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-light:before {
  content: "\e900";
}
.icon-fenlei:before {
  content: "\e901";
}
.icon-xingqiu:before {
  content: "\e902";
}
.icon-add:before {
  content: "\e903";
}
.icon-fenxiang:before {
  content: "\e904";
}
.icon-pinglun:before {
  content: "\e905";
}
.icon-xiazai:before {
  content: "\e906";
}
.icon-level:before {
  content: "\e907";
}
.icon-fabu:before {
  content: "\e908";
}
.icon-shoucang:before {
  content: "\e909";
}
.icon-shouchang1:before {
  content: "\e90b";
}
.icon-hudongxiaoxi:before {
  content: "\e90c";
}
.icon-zan:before {
  content: "\e90d";
}
.icon-theme:before {
  content: "\e90a";
}
.icon-back1:before {
  content: "\e90e";
}
.icon-back2:before {
  content: "\e90f";
}
.icon-fankui:before {
  content: "\e910";
}
.icon-mine:before {
  content: "\e911";
}
.icon-msg:before {
  content: "\e912";
}
.icon-back4:before {
  content: "\e913";
}
.icon-refresh:before {
  content: "\e914";
}
.icon-refresh2:before {
  content: "\e915";
}
.icon-search1:before {
  content: "\e916";
}
.icon-sun:before {
  content: "\e917";
}
.icon-add-new:before {
  content: "\e918";
}
.icon-home:before {
  content: "\e919";
}
.icon-heart:before {
  content: "\e91a";
}
.icon-setting1:before {
  content: "\e91b";
}
.icon-no-pic:before {
  content: "\e91c";
}
.icon-moon:before {
  content: "\e91d";
}
.icon-sound:before {
  content: "\e91e";
}
.icon-no-sound:before {
  content: "\e91f";
}
.icon-gou1:before {
  content: "\e920";
}
.icon-cha1:before {
  content: "\e921";
}
.icon-cha2:before {
  content: "\e922";
}
.icon-gou2:before {
  content: "\e923";
}
.icon-no-sound1:before {
  content: "\e924";
}
.icon-clothes:before {
  content: "\e925";
}
